@font-face {
  font-family: Parisienne;
  src: url('/fonts/Parisienne-Regular.ttf');
}
@font-face {
  font-family: Kaushan;
  src: url('/fonts/KaushanScript-Regular.ttf');
}
@font-face {
  font-family: Yellowtail;
  src: url('/fonts/Yellowtail-Regular.ttf');
}
