@import '_fonts.scss';
// SCREEN SIZES
$mobile: 430px;
$tablet: 780px;
// SIZES
$num-header-items: 5;
$header-height: 3.5em;

$numItemsPerWidth: 2;
$item-containerMarginHorizontal: 0.25%;
$item-containerWidth: (100% / $numItemsPerWidth) - (
  $item-containerMarginHorizontal * $numItemsPerWidth * 2
);
$item-containerHeight-tablet: 22vh;
$item-containerHeight-mobile: 30vh;
$item-containerHeight-desktop: 60vh;
// COLORS
$main-theme-color: #984927;
$dark-brown: #57231C;
$light-brown: #9F4F1B;

$header-startingColor: #585858;
$header-endingColor: #d8dada;
$header-textColor: #272727;
$header-selectedColor: $light-brown;

$item-titleColor: #979898;
// FONTS
$title-font: 'Kaushan';
$header-font: 'Yellowtail';
$text-font: 'Kaushan';
