@import '_fonts.scss';

// SIZES
$num-header-items: 5;

// COLORS
$main-theme-color: #984927;
$dark-brown: #57231C;
$light-brown: #9F4F1B;

$header-startingColor: #7a7a7a;
$header-endingColor: #d8dada;
$header-textColor: #984927;

// FONTS
$title-font: 'Kaushan';
$header-font: 'Yellowtail';
$text-font: 'Parisienne';
