@import '_fonts.scss';
// SIZES
$num-header-items: 5;
$header-height: 3.5em;
$header-fontSize: $header-height * 0.67;
$numItemsPerWidth: 2;
$item-containerMarginHorizontal: 0.25%;
$item-containerWidth: (100% / $numItemsPerWidth) - (
  $item-containerMarginHorizontal * $numItemsPerWidth * 2
);
$item-containerHeight-mobile: 20vh;
$item-containerHeight-desktop: 50vh;
// SCREEN SIZES
$mobile: 430px;
$tablet: 700px;
// COLORS
$main-theme-color: #984927;
$dark-brown: #57231C;
$light-brown: #9F4F1B;

$header-startingColor: #585858;
$header-endingColor: #d8dada;
$header-textColor: #272727;
$header-selectedColor: $light-brown;

$item-titleColor: #979898;
// FONTS
$title-font: 'Kaushan';
$header-font: 'Yellowtail';
$text-font: 'Parisienne';
