@import '../variables.scss';

html, body, img, div, li, ul, a, p {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(90deg,
    $light-brown,
    $dark-brown 5%,
    $light-brown 10%,
    $dark-brown 15%,
    $light-brown 20%,
    $dark-brown 25%,
    $light-brown 30%,
    $dark-brown 35%,
    $light-brown 40%,
    $dark-brown 45%,
    $light-brown 50%,
    $dark-brown 55%,
    $light-brown 60%,
    $dark-brown 65%,
    $light-brown 70%,
    $dark-brown 75%,
    $light-brown 80%,
    $dark-brown 85%,
    $light-brown 90%,
    $dark-brown 95%,
    $light-brown 100%
  );
}
span.hide {
  display: none;
}
p, .text {
  font-family: $text-font;
  font-size: 1em;
}
h1 {
  text-align: center;
  color: $header-endingColor;
  font-family: $title-font;
}
input[type=text], select {
  width: 100%;
}

.pointer {
  cursor: pointer;
}
.hide {
  display: none;
}
.header-separator {
  height: $header-height;
}
.header-separator {
  height: $header-height;
  @media (max-width: $mobile) {
    height: $header-height * (2/3);
  }
}
.checkoutHeader-separator {
  height: $checkoutHeader-height;
}
