@import '../variables.scss';

html, body, img, div, li, ul, a, p {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(90deg,
    $light-brown,
    $dark-brown 10%,
    $light-brown 20%,
    $dark-brown 30%,
    $light-brown 40%,
    $dark-brown 50%,
    $dark-brown 60%,
    $light-brown 70%,
    $dark-brown 80%,
    $light-brown 90%,
    $dark-brown 100%
  );
}
span.hide {
  display: none;
}
p, .text {
  font-family: $text-font;
  font-size: 1em;
}
h1 {
  text-align: center;
  color: $header-endingColor;
  font-family: $title-font;
}

.pointer {
  cursor: pointer;
}
.hide {
  display: none;
}
.header-separator {
  height: $header-height;
}
