@import '../variables.scss';

.app-header {
  list-style-type: none;
  padding: 0.5em 0;
  width: 100%;
  height: $header-height;
  background: linear-gradient(0deg,
    $header-startingColor,
    $header-endingColor
  );
  text-align: center;
  font-family: $header-font, 'cursive';

    max-height: $header-height;
  .app-header-item {
    display: inline-block;
    width: 100% / $num-header-items;
    text-align: center;

    .app-header-item-image {
      max-width: 75%;
    }

    .app-header-link {
      text-decoration: none;
      font-size: 2.5em;
      color: $header-textColor;
    }
    .app-header-link.selected {
      color: $header-selectedColor;
    }
  }
}
