@import '../variables.scss';

.app-header {
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  list-style-type: none;
  width: 100%;
  background: linear-gradient(0deg,
    $header-startingColor,
    $header-endingColor
  );
  font-family: $header-font, 'cursive';
  height: $header-height;

  @media (max-width: $mobile) {
    height: $header-height * (2/3);
  }

  .app-header-item {
    vertical-align: top;
    display: inline-block;
    height: inherit;
    width: 100% / $num-header-items;
    text-align: center;

    a {
      text-decoration: none;
      font-size: 2em;
      line-height: 2em;
      color: $header-textColor;

      @media (max-width: $mobile) {
        font-size: 1em;
        vertical-align: middle;
      }
    }
    a.selected {
      color: $header-selectedColor;
    }
    a.fill {
      display: block;
      width: 20%;
      height: 100%;
      margin: auto;
    }
  }
  .header-img {
    display: block;
    height: 100%;
    @media (max-width: $mobile) {
      height: 80%;
    }
  }
  .AP-logo {
    background: url('/assets/logos/AP_1.png') center center no-repeat;
    background-size: 95% 80%;
    @media (max-width: $mobile) {
      background: url('/assets/logos/AP_1_cut.png') center center no-repeat;
      background-size: 70% 80%;
    }
  }
  .checkout {
    background: url('/assets/shopping_cart.png') center center no-repeat;
    background-size: 15% 60%;
    @media (max-width: $mobile) {
      background-size: 30% 60%;
    }
  }
}
