@import '../pipes/index.scss';

.checkout-items {
  width: 90%;
  margin: auto;
  list-style-type: none;
}
.checkout-itemRecap-container {
  margin: 1em 0;
  width: 100%;
}

.checkout-itemRecap-cell {
  display: table-cell;
  vertical-align: middle;
}
.itemRecap-quantity {
  width: 10%;
}
.itemRecap-imageContainer {
  height: 100px;
  width: 100px;
  text-align: center;
}
.itemRecap-image {
  max-height: 100px;
  max-width: 100px;
  margin: auto;
}
.itemRecap-title {
  @extend .pipes-itemTitle;
  width: 50%;
}
.itemRecap-unitPrice {
  @extend .pipes-price;
  font-family: cursive;
  color: $item-titleColor;
  width: 20%;
}
.itemRecap-unitPrice-unit {
  @extend .unit;
}
.itemRecap-unitPrice-price {
  @extend .quantity;
}
